.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 9px;
}

.container h1, h2{
    font-size: 2em;
    margin: 0;
}

.container h1{
    font-size: 1.8em;
}

.data, .button{
    padding: 6px;
    background: transparent;
    text-align: center;
    box-shadow: 0 0 7px 1px white;
    border: 1px solid white;
    color: white;
    border-radius: 8px;
}
.data::-webkit-calendar-picker-indicator{
    cursor: pointer;
    filter:brightness(0) invert(1);
}

.button{
    margin-left: 10px;
    cursor: pointer;
}

.button:hover{
    background-color: white;
    color: black;
}
