.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: end;
    border-top: 3px solid white;
    margin: 0 16px;
}
.conquistas{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conquistas img{
    width: 80px;
}