.bolhas{
    position: absolute;
    display: flex;
}

.bolhas span{
    width: 30px;
    height: 30px;
    background: #ffffff;
    margin: 0 10px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #ffffff44,
    0 0 50px #ffffff,
    0 0 100px #ffffff;
    animation: animar calc(130s / var(--i)) linear infinite;
}

.bolhas span:nth-of-type(even){
    background: #2dc3ff;
    box-shadow: 0 0 0 10px #2dc3ff44,
    0 0 50px #2dc3ff,
    0 0 100px #2dc3ff;
}

@keyframes animar {
    0%{
        transform: translateY(50vh) scale(0);
    }
    100%{
        transform: translateY(-60vh) scale(1);
    }
}